In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df=pd.read_csv('Orange_Telecom_Churn_Data.csv')
df.head()

,state,account_length,area_code,phone_number,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churned
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          5000 non-null   object
 1   account_length                 5000 non-null   int64
 2   area_code                      5000 non-null   int64
 3   phone_number                   5000 non-null   object
 4   intl_plan                      5000 non-null   object
 5   voice_mail_plan                5000 non-null   object
 6   number_vmail_messages          5000 non-null   int64
 7   total_day_minutes              5000 non-null   float64
 8   total_day_calls                5000 non-null   int64
 9   total_day_charge               5000 non-null   float64
 10  total_eve_minutes              5000 non-null   float64
 11  total_eve_calls                5000 non-null   int64
 12  total_eve_charge               5000 non-null   float64
 13  total_night_minutes            5000 non-null   float64
 14  total_night_calls              5000 non-null   int64
 15  total_night_charge             5000 non-null   float64
 16  total_intl_minutes             5000 non-null   float64
 17  total_intl_calls               5000 non-null   int64
 18  total_intl_charge              5000 non-null   float64
 19  number_customer_service_calls  5000 non-null   int64
 20  churned                        5000 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 786.3+ KB

In [8]:
df.isnull().sum()

state                            0
account_length                   0
area_code                        0
phone_number                     0
intl_plan                        0
voice_mail_plan                  0
number_vmail_messages            0
total_day_minutes                0
total_day_calls                  0
total_day_charge                 0
total_eve_minutes                0
total_eve_calls                  0
total_eve_charge                 0
total_night_minutes              0
total_night_calls                0
total_night_charge               0
total_intl_minutes               0
total_intl_calls                 0
total_intl_charge                0
number_customer_service_calls    0
churned                          0
dtype: int64

In [9]:
df.duplicated().sum()

0

In [10]:
df['phone_number']=df['phone_number'].str.replace('-','')

In [11]:
df.head()

,state,account_length,area_code,phone_number,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churned
0,KS,128,415,3824657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,3717191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,3581921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,3759999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,3306626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [12]:
# numbers for users in each state
df['state'].value_counts()

WV    158
MN    125
AL    124
ID    119
VA    118
OH    116
TX    116
WY    115
OR    114
NY    114
NJ    112
UT    112
WI    106
MI    103
MA    103
ME    103
MD    102
VT    101
RI     99
KY     99
CT     99
MS     99
KS     99
MT     99
IN     98
WA     98
CO     96
NH     95
DE     94
MO     93
AR     92
NM     91
NC     91
SC     91
FL     90
NV     90
OK     90
AZ     89
TN     89
NE     88
IL     88
ND     88
DC     88
HI     86
SD     85
GA     83
LA     82
PA     77
AK     72
IA     69
CA     52
Name: state, dtype: int64

In [14]:
#numbers of states
df['state'].value_counts().count()

51

In [18]:
#what is the age of the oldest account we have in our company?

age=df['account_length'].max()/12
age

20.25

In [19]:
#how many intl plan subscriber?
df['intl_plan'].value_counts()
#473

no     4527
yes     473
Name: intl_plan, dtype: int64

In [36]:
#how many voice mail subscriber?
sub=df['voice_mail_plan'].value_counts()['yes']
sub
#1323

1323

In [38]:
#what is the average voice mail messages sent by who subscribed in voice mail plan ONLY?
df.groupby(['voice_mail_plan'])['number_vmail_messages'].mean()
#29

voice_mail_plan
no      0.000000
yes    29.309146
Name: number_vmail_messages, dtype: float64

In [46]:
#what is the average minutes for day, eve, night and intl?
df[['total_day_minutes','total_eve_minutes','total_night_minutes','total_intl_minutes']].mean()
#180,200,200,10

total_day_minutes      180.28890
total_eve_minutes      200.63656
total_night_minutes    200.39162
total_intl_minutes      10.26178
dtype: float64

In [47]:
#what is the average call counts for day, eve, night and intl?
df[['total_day_calls','total_eve_calls','total_night_calls','total_intl_calls']].mean()
#100,100,99.9,4

total_day_calls      100.0294
total_eve_calls      100.1910
total_night_calls     99.9192
total_intl_calls       4.4352
dtype: float64

In [50]:
#what is the average charge for day, eve, night and intl?
df[['total_day_charge','total_eve_charge','total_night_charge','total_intl_charge']].mean()
#30,17,9,3

total_day_charge      30.649668
total_eve_charge      17.054322
total_night_charge     9.017732
total_intl_charge      2.771196
dtype: float64

In [45]:
#what is the churn rate in our company?
df['churned'].value_counts(normalize=True)

False    0.8586
True     0.1414
Name: churned, dtype: float64

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          5000 non-null   object
 1   account_length                 5000 non-null   int64
 2   area_code                      5000 non-null   int64
 3   phone_number                   5000 non-null   object
 4   intl_plan                      5000 non-null   object
 5   voice_mail_plan                5000 non-null   object
 6   number_vmail_messages          5000 non-null   int64
 7   total_day_minutes              5000 non-null   float64
 8   total_day_calls                5000 non-null   int64
 9   total_day_charge               5000 non-null   float64
 10  total_eve_minutes              5000 non-null   float64
 11  total_eve_calls                5000 non-null   int64
 12  total_eve_charge               5000 non-null   float64
 13  total_night_minutes            5000 non-null   float64
 14  total_night_calls              5000 non-null   int64
 15  total_night_charge             5000 non-null   float64
 16  total_intl_minutes             5000 non-null   float64
 17  total_intl_calls               5000 non-null   int64
 18  total_intl_charge              5000 non-null   float64
 19  number_customer_service_calls  5000 non-null   int64
 20  churned                        5000 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 786.3+ KB

In [ ]:
#True of False for:
#calls during day is more worthy than night?
#True
#charge during night is cheaper than eve?
#TRue

In [51]:
df['total_day_calls'].sum()

500147

In [52]:
df['total_night_calls'].sum()

499596

In [56]:
df['total_eve_calls'].sum()

500955

In [57]:
df['total_intl_calls'].sum()

22176

In [54]:
df['total_night_charge'].sum()

45088.66

In [55]:
df['total_eve_charge'].sum()

85271.61

In [ ]:
#recommend the best time we can offer a free minutes for customers? [optional]
#the best time on the eve beacuse th customer call more in this time